<p id="notice"><%= notice %></p>


<div class="movie-show">
  <img src="/images/<%= @movie.image_url %>" class="img-responsive">
  <div id="show-info">
    <h1><%= @movie.name %></h1><br>
    <p id="show-description"><strong>Synopsis: </strong><%= @movie.description %></p><br>
    <h2>Showings for <%= Date::MONTHNAMES[Date.today.month] %> <%= Time.now.day %>, <%= Time.now.year%></h2>
      <table> 
        <td><%= @movie.first_showing %></td>
        <td><%= @movie.second_showing %></td>
        <td><%= @movie.third_showing %></td>
        <td><%= @movie.fourth_showing %></td>
        <td><%= @movie.fifth_showing %></td>
        <td><%= @movie.sixth_showing %></td>
        <td><%= @movie.seventh_showing %></td>
      </table>
  </div>
  <%= render 'new_comment' %>
  <%= render 'comments' %>
</div>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
