

<div class="movie-show">
  <img src="/images/<%= @movie.image_url %>" class="img-responsive" id="show-img">
  <div id="show-info">
    <h1><%= @movie.name %></h1><br>
    <p id="show-description"><strong>Synopsis: </strong><%= @movie.description %></p>
    <h2>Showings for <%= Date::MONTHNAMES[Date.today.month] %> <%= Time.now.day %>, <%= Time.now.year%></h2>
      <table> 
        <td><%= @movie.first_showing %></td>
        <td><%= @movie.second_showing %></td>
        <td><%= @movie.third_showing %></td>
        <td><%= @movie.fourth_showing %></td>
        <td><%= @movie.fifth_showing %></td>
        <td><%= @movie.sixth_showing %></td>
        <td><%= @movie.seventh_showing %></td>
      </table>

      <select> 
        <option><%= @movie.first_showing %></option>
        <option><%= @movie.second_showing %></option>
        <option><%= @movie.third_showing %></option>
        <option><%= @movie.fourth_showing %></option>
        <option><%= @movie.fifth_showing %></option>
        <option><%= @movie.sixth_showing %></option>
        <option><%= @movie.seventh_showing %></option>
      </select>
    <h4 id="show-rating">Average Rating: <div class="rated" data-score="<%= @movie.average_rating %>"></div></h4><br id="divider">
  </div>
  <p id ="show-comments">
    <%= render 'new_comment' %>
  </p>
  <%= render 'comments' %>
  <%= will_paginate @comments %>
</div>

<% if user_signed_in? && current_user.admin %>
<div class="movie-button">
<%= button_to 'Edit', edit_movie_path(@movie), :method => :get %> 
</div>
<div class="movie-button">
<%= button_to 'Delete', @movie, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<% end %>