

<h1>Account Info</h1>

<p>
  <h3>First name:</h3>
  <font size="4"><%= @user.first_name %></font>
</p>

<p>
  <h3>Last name:</h3>
  <font size="4"><%= @user.last_name %></font>
</p>
<p>
  <h3>Email:</h3>
  <font size="4"><%= @user.email %></font>
</p>
<div class="account-button">
<%= button_to 'Edit', edit_user_path(@user), :method => :get %>
</div>
<div class="account-button">
<%= button_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

