

<h1>Account Info</h1>

<p>
  <h3>First name:</h3>
  <font size="4"><%= @user.first_name %></font>
</p>

<p>
  <h3>Last name:</h3>
  <font size="4"><%= @user.last_name %></font>
</p>
<%= button_to 'Change Name', edit_user_path(@user), :method => :get %>
<p>
  <h3>Email:</h3>
  <font size="4"><%= @user.email %></font>
</p>

<%= button_to 'Edit Account', edit_user_registration_path(@user), :method => :get %>




