

<h1>Account Info</h1><br><br>

<p>
  <font size="5">First name: </font>
  <font size="5"><%= @user.first_name %></font>
</p>

<p>
  <font size="5">Last name: </font>
  <font size="5"><%= @user.last_name %></font>
</p>
<%= button_to 'Change Name', edit_user_path(@user), :method => :get %><br><br>
<p>
  <font size="5">Email: </font>
  <font size="5"><%= @user.email %></font>
</p>

<%= button_to 'Edit Account', edit_user_registration_path(@user), :method => :get %>




